.city {
  font-size: large;
  color: white ; 
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif; 


}

.country{
font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif; 
  color: white ; 
  font-weight: bold;
}

.answers{
   color: white ; 

}

.taskDetails {
  color: white ; 
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: large;
}
h2{
    color:white ; 
}